{% extends 'layout.html' %}
{% load static %}
{% block content %}
  <section class="" style="margin-top: 175px;">
    <h1 class="display-4">Sponsoring Security Search</h1>
    <p class="my-3 fw-light fs-5">
      I created this site to allow anyone to quickly and easily assess the security of their HTTP response headers. It has been free, and always will be, so that anyone who wants to use it can do and that's really important to me. I want the security and information that Security Headers offers to be available to as many people as possible.
    </p>
    <p class="mt-5 fw-light fs-5">  
      Unfortunately though, developing and hosting such a site isn't free and I've been happily paying the costs out of my own pocket so far. In order to continue providing the service free to anyone who wishes to use it, I'm now offering sposnorship to cover some of the costs.
    </p>
  </section>

  <section class="mt-5">
    <h1 class="display-4 my-3">What does this mean?</h1>

    <p class="my-3 fw-light fs-5">
      For users of the site absolutely nothing will change except the addition of the 'Sponsored by' message at the top of the screen. There will be no 3rd party adverts to worry about or any of the negatives that come with them. Sponsors do not get access to any of our data nor do they get any preferential treatment. It is simply the placement of the 'Sponsored by' message at the top of the page.
    </p>
  </section>

  <section class="mt-5">
    <h1 class="display-4">Why sponsor the site?</h1>

    <p class="mt-3 fw-light fs-5">
      For those looking to sponsor the site, you will have your name placed under our main logo which provides excellent exposure to all of our visitors. The sponsor message will also be linked to your homepage. We receive a substantial amount of traffic each month and have a fairly unique demographic too. To top it off, you will be helping to support Security Headers and keep it running as a free service to help build a more secure Web for everyone. If you're interested in sponsoring us, please drop us an <a href="mailto:pragat.pandya@gamil.com">email</a>.
    </p>
  </section>
  

  
{% endblock %}